body{
    background-color: #054FB9;
    color: #ffffff;
    font-size: 20px;
}
h1{
    font-size: 30px;
    align-items: center;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
}